// Navigation code here

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: @sea-shell;
    h1{
        font-size: 4rem;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-align: center;
        li{
            padding: 2%;
            a{
                text-decoration: none;
                font-size: 1.8rem;
                color: @ebony-clay;
            }
        }
    }
}

header{

    img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        border-radius: 5px;
    }
}

button{
    background-color: @ebony-clay;
    border-radius: 5px;
    border: none;
    height: 4rem;
    width: 11rem;
    color: @sea-shell;
    font-size: 2rem;
}